build/
.DS_Store
data/
report/build
report/main.pdf
exec/script_download_input/.venv
llm.txt
sequential/profiling.txt
sequential/build
parallel/profiling.txt
papavero.txt
whole.prof
slides_helper/
slides/build/
slides/main.pdf